p{
    background-color:brown;
    padding: 30px 20px;
    color: white;



}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-style: italic;
}
h2{
    font-style: italic;
    text-align: center;  
}
#button1{
    display: flex;
    justify-content: center;
}
.photo{
    display: none;
}
#button2{
    display: none;
}